# Additional JupyterLab extensions
jupyterlab-git
jupyterlab-lsp
python-lsp-server
apputils
jupyterlab-widgets
jupyterlab_execute_time
jupyterlab_nvdashboard

jupyterlab-drawio
jupyterlab-fasta
jupyterlab-geojson
jupyterlab-latex
jupyterlab-mathjax3
jupyterlab-spreadsheet
lckr-jupyterlab-variableinspector
aquirdturtle_collapsible_headings
ipympl
